@using Microsoft.AspNetCore.Components.Authorization

<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
            <NotAuthorized>
                <div class="alert alert-warning m-3">
                    Você não tem acesso a esta página.
                    <a href="/login">Fazer login</a>
                </div>
            </NotAuthorized>
        </AuthorizeRouteView>

        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
</Router>